:root{
  --primary-color: #5e17eb;
  --text-color: hsl(0, 0%, 31%);
  --bg-color:  hsl(0, 0%, 90%);
  --bg-card-color: hsl(0, 0%, 98%);
  --transition:color 0.1s ease-in-out, background-color 0.2s ease-in-out;
  --border-radius: 0.4em;
}
* {
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: var(--primary-color);
}
img{
  max-width: 100%;
  display: block;
}
body{
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: var(--transition);
  font-family: 'Poppins', sans-serif;
}
body.dark{
  --text-color: hsl(0, 0%, 83%);
  --bg-color: hsl(0, 0%, 15%);
  --bg-card-color: hsl(0, 0%, 20%)
}
.header{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 75px;
  padding: 0 1.5em;
  background-color: var(--bg-card-color);
  transition: var(--transition);
}
.switches{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toggle-theme{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.toggle-theme__icon{
  margin-right: 0.5em;
  width: 20px;
}
.toggle-theme__text{
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;
}
.colors{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 100px;
}
.colors__item{
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  background-color: var(--primary-color);
  cursor: pointer;
}
.colors__item--blue{
  --primary-color: #5e17eb;
}
.colors__item--green{
  --primary-color: hsl(154, 84%, 56%);
}
.colors__item--purple{
  --primary-color: hsl(274, 84%, 56%);
}
.colors__item--orange{
  --primary-color: hsl(34, 84%, 56%);
}
.title{
  text-align: center;
  color: var(primary-color);
  transition: var(--transition);
}
.main{
  display: grid;
  padding: 2em;
}
@media screen and (min-width: 768px){
  .main{
    grid-template-columns: min-content 1fr;
    grid-gap: 1.5em;
  }
}
.card{
  padding: 1em;
  background-color: var(--bg-card-color);
  border-radius: var(--border-radius);
}
.card__img-container{
  min-width: 320px;
  border-radius: var(--border-radius);
  overflow: hidden;
}
